<?xml version="1.0" encoding="UTF-8"?>

<launch>
  
  <arg name="cart"  default="simple_cart_wt_testbed"/>  <!-- empty... -->  
  <arg name="robot_approach_side"  default="CW"/>  <!-- empty... -->  
  <arg name="extra_cart_weight"  default=""/>  
  <arg name="robot"  default="full_ft_hey5"/>  <!-- empty... -->
  <arg name="gzpose" default="-x -1.0 -y 0.0 -z 0.86 -R 0.0 -P 0.0 -Y 0"/> 
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="robot_placement_cw" default="true"/>
  
                   <!-- start up world -->
  <env name="GAZEBO_MODEL_PATH" value="$(find eurobench_reemc_cart)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find eurobench_reemc_cart)/worlds/$(arg cart)$(arg extra_cart_weight).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/> 
  </include>  
  
                   <!-- spawn robot in simulation --> 
 <!--   <group ns="reem_c">      -->
      <include file="$(find reemc_gazebo)/launch/reemc_spawn.launch">
        <arg name="robot"  value="$(arg robot)"/>
        <arg name="gzpose" value="$(arg gzpose)"/>
      </include>  

                   <!-- bring up robot --> 
      <include file="$(find reemc_bringup)/launch/reemc_bringup.launch">
        <arg name="robot"  value="$(arg robot)"/>
      </include> 
 <!--    </group>  -->
 
</launch>
